<!DOCTYPE html>
<html lang="en" ng-app="dev-mt-in">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DevMtin</title>
	<link rel="stylesheet" href="theme/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="theme/style.css">
</head>

<body ng-controller="mainCtrl">
	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">DevMountain</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../navbar/">View Friends</a></li>
					<li><a href="./"><span class="glyphicon glyphicon-search"></span>&nbsp;Find Friends</a></li>
					<!-- class="active" -->
					<li><a href="../navbar-fixed-top/">Update Profile</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row" id="login">
			<div class="col-md-6">
				<p>
					<div>Welcome to the <a href="#">DevMountain</a> Social.</div>
					<div>Add some info so friends can find you</div>
				</p>
				<form class="form-horizontal">

					<div class="form-group">
						<div class="col-sm-10">
							<input type="text" class="form-control" name="username" value="" placeholder="User Name" ng-model="user.username">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="user.password">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-10">
							<input type="text" class="form-control" name="fullname" value="" placeholder="Full Name" ng-model="user.fullName">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-10">
							<input type="text" class="form-control" name="tagline" value="" placeholder="Tagline" ng-model="user.tagLine">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-10">
							<input type="text" class="form-control" name="profileimage" value="" placeholder="Profile Image Url" ng-model="user.imageUrl">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-10">
							<textarea name="bio" class="form-control" rows="8" cols="80" placeholder="Bio" ng-model="user.bio"></textarea>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<input type="text" name="id" value="" ng-model="user.id" class="hidden">
							<button type="submit" name="createAccount" class="btn btn-default">Create Account/Save Changes</button>
							<button type="button" name="signIn" class="btn">Sign in</button>
						</div>
					</div>
				</form>

			</div>
			<div class="col-md-6">
				<img src="images/triangle.png" alt="triangle">
			</div>
		</div>
		<!-- End Login -->

		<div class="row" id="profile">
			<div class="col-md-6">
				<h1>{{showUser.fullName}}</h1>
				<h2 class="tagline">{{showUser.tagLine}}</h2>

				<p>{{showUser.bio}}</p>
				<div class="friend-controls">
					<span><a href="#">Add Friend</a></span><span><a href="#">Remove Friend</a></span>
				</div>
				<div class="profile-controls">
					<span><a href="#">Edit</a></span>
				</div>
			</div>
			<div class="col-md-6">
				<img ng-src="{{showUser.imageUrl}}" alt="My Photo" class="profile-image">
			</div>
		</div>

		<div class="row" id="friends">
			<div class="col-md-6">
				<h1>Chris Johnson</h1>
				<h2 class="tagline">Some Awesome Tagline About You</h2>
				<p>You want your tree to have some character. Make it special. Let's get wild today. Be so very light. Be a gentle whisper. It's a super day, so why not make a beautiful sky? The very fact that you're aware of suffering is enough reason to be overjoyed
					that you're alive and can experience it. You can spend all day playing with mountains.</p>

				<p>Only think about one thing at a time. Don't get greedy. Trees cover up a multitude of sins. It's life. It's interesting. It's fun. The light is your friend. Preserve it. Just relax and let it flow. That easy.</p>

				<p>That's what painting is all about. It should make you feel good when you paint. Just let this happen. We just let this flow right out of our minds. Trees grow in all kinds of ways. They're not all perfectly straight. Not every limb is perfect.</p>
				</p>
			</div>
			<div class="col-md-6">
				<button type="button" class="btn sort" name="button">Ascending</button>
				<div class="input-group">
					<input type="text" name="search" class="form-control" value="" placeholder="Friends">
					<!--Search for Friends-->
					<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
				</div>
				<div class="row">
					<div class="col-md-6 friend">
					</div>
					<div class="col-md-6 friend">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 friend">
					</div>
					<div class="col-md-6 friend">
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- End Container -->

	<span>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"> </script>
		<script type="text/javascript" src="script/app.js"> </script>
		<script type="text/javascript" src="script/ctrl.js"> </script>
		<script type="text/javascript" src="script/service.js"> </script>
	</span>
</body>

</html>
