.profileimage {
  width: 300px;
  height: 200px;
  margin-top: 5px;
  border-radius: 5px;
}

.profilecard.thumbnail {
  text-align: center;
}

.profilecard .profiletitle {
  color: #BDBDBD;
}

.profilecard em {
  color: #337ab7;
  text-decoration: none;
  font-style: normal;
}

.profilecard p {
  margin-top: 10px;
}
